{

  "presets": [
    [
      "env", {
        "targets": {
          
          "browsers": ["last 2 versions", "ie >= 10"]
        },
        "modules": false,
        "loose": true
      }
    ]
  ],

  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread"
  ],

  "env": {

    

    

    "production": {
      "plugins": [
        "lodash"
      ]
    }

  }

}
