@import 'vars.css';

.background-desktop {
  font-family: Futura;
  background: url(../assets/img/bg.png), linear-gradient(rgba(2, 6, 22, 1) 0%, rgba(18, 50, 72, 1) 120%);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  height: 100vh;
  overflow: hidden;
}

html {
  overflow: hidden;
}

textarea:focus,
input:focus {
  outline: none;
}

#world { /* stylelint-disable-line */
  position: absolute;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.hide {
  display: none;
}

.about {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: -7rem;
}

.about-txt {
  font-size: 1.3rem;
  color: transparent;
  text-shadow: 0 0 1px rgba(255, 255, 255, .9);
  opacity: .5;
  text-align: center;
  width: 40rem;
}

.stranger-logo {
  align-self: center;
  animation: fade 4s forwards;
  margin-top: -11rem;
}

@keyframes fade {

  0% {
    opacity: 0;
    transform: scale(.6);
    filter: saturate(100%);
  }

  60% {
    transform: scale(.8);
  }

  100% {
    opacity: 1;
    transform: scale(.8);
    filter: saturate(150%);
  }
}

@keyframes reversefade {

  0% {
    transform: scale(.8);
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    transform: scale(.3);
    opacity: 1;
  }
}

.fileSelect-btn {
  font-family: Futura;
  background: transparent;
  color: #3e546f;
  border: 1px solid #3e546f;
  padding: .5rem 1rem;
  font-size: 1.1rem;
  margin-right: 4rem;
  cursor: pointer;
  border-radius: 7px;
}

.start-btn {
  font-family: Futura;
  text-transform: uppercase;
  color: var(--madmax);
  font-size: 1.1rem;
  background: transparent;
  border: 1px solid var(--madmax);
  cursor: pointer;
  padding: .5rem 1rem;
  border-radius: 7px;
  box-shadow: inset 0 0 10px 0 rgba(245, 86, 54, .8), 0 0 25px 0 rgba(245, 86, 54, .8);
}

.start-btn:disabled {
  color: rgba(150, 150, 150, .3);
  box-shadow: inset 0 0 10px 0 rgba(150, 150, 150, .2), 0 0 25px 0 rgba(150, 150, 150, .2);
  border: 1px solid rgba(150, 150, 150, .2);
}

.load-btns {
  display: flex;
  align-items: baseline;
  margin-top: 2rem;
}

.pagewrap {
  font-family: Futura;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  &::after {
    position: absolute;
    z-index: -1;
    content: '';
    background: url(../assets/img/noise.gif);
    background-repeat: repeat;
    height: 100vh;
    width: 110%;
    opacity: .09;
  }

}

.style-images {
  display: flex;
  justify-content: space-around;
}

.style {
  display: flex;
  flex-flow: column wrap;
}

.spinner {
  position: absolute;
  left: calc(100vw / 2.1);
  top: 40%;
  z-index: 399;
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: white;

  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  animation-delay: -.32s;
}

.spinner .bounce2 {
  animation-delay: -.16s;
}

@-webkit-keyframes sk-bouncedelay {

  0%, 80%, 100% { transform: scale(0); }

  40% { transform: scale(1); }
}

.vr {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden;
}

.back-btn {
  position: absolute;
  top: 4%;
  left: 3%;
  color: transparent;
  background: transparent;
  text-shadow: 0 0 1px rgba(255, 255, 255, .9);
  opacity: .5;
  border: none;
  font-size: 1rem;
  z-index: 4;
  cursor: pointer;

  &::before {
    content: '< ';
  }
}

.ui {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Karla, sans-serif;
  z-index: 1;
}

.magic-window {
  display: block;
  color: white;
  margin-top: 1em;
}

.createQR {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100000;
  bottom: 5%;
  right: 4%;
  opacity: .5;
}

.exp-span {
  margin-top: .5rem;
  font-size: .8rem;
  color: rgba(255, 255, 255, .8);
}

.file-size-warning {
  position: absolute;
  z-index: 40000;
  color: var(--madmax);
  margin-top: 3rem;
  margin-left: 1.7rem;
  font-size: .8rem;
}
