@import 'vars.css';

body {
  font-family: Benguiat;
  background: url(../assets/img/bg.png), linear-gradient(rgba(2, 6, 22, 1) 0%, rgba(18, 50, 72, 1) 120%);
  background-size: 110%;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  height: 100vh;
}

.hide {
  display: none;
}

.about {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: -8rem;
}

.about-txt {
  font-size: 1.3rem;
  font-family: Futura;
  color: transparent;
  text-shadow: 0 0 1px rgba(255, 255, 255, .9);
  opacity: .5;
  text-align: center;
  width: 40rem;
}

.stranger-logo {
  align-self: center;
  animation: fade 4s forwards;
  filter: blur(10px);
}

@keyframes fade {

  0% {
    opacity: 0;
    transform: scale(.6);
    filter: saturate(100%);
  }

  60% {
    transform: scale(.8);
  }

  100% {
    opacity: 1;
    transform: scale(.8);
    filter: saturate(150%);
  }
}

.select-btn {
  background: transparent;
  color: #aaa;
  border: 1px solid #aaa;
  border-radius: 7px;
  margin-top: 1rem;
  margin-bottom: 4rem;
  padding: .5rem;
  margin-right: 4rem;
}

.start-btn {
  color: var(--madmax);
  font-size: 1.1rem;
  font-family: Futura;
  background: transparent;
  border: 1px solid var(--madmax);
  padding: .5rem 1rem;
  border-radius: 7px;
}

.load-btns {
  display: flex;
  align-items: baseline;
}

.pagewrap {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &::after {
    position: absolute;
    z-index: -1;
    content: '';
    background: url(../assets/img/noise.gif);
    background-repeat: repeat;
    height: 100vh;
    width: 100%;
    opacity: .07;
  }

}

.style-images {
  display: flex;
  justify-content: space-around;
}

.style {
  display: flex;
  flex-flow: column wrap;
}
